@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
@layer components {
    .custom-btn {
        @apply bg-red-500 text-white px-4 py-2 rounded;
    }

    /* .custom-logo-link {
        @apply flex items-center justify-start;
    } */

    .custom-logo {
      @apply block h-auto w-full max-w-full lg:w-auto lg:max-w-none;
    }

    .custom-line-height {
        line-height: 2.5;
      }

      .container{
        /* @apply w-full max-w-[100%] lg:max-w-[1280px] xl:max-w-[1790px] mx-auto px-[43px]; */
        @apply max-w-full m-0 px-[10px] sm:px-[53px];
    }

    /* .frm_sixth {
      @apply font-brother font-bold text-[#FFFFFF] bg-[#6da3c4] hover:bg-[#5c8bad] px-6 py-3 rounded-lg text-[146px] transition-all duration-300;
    } */
    
      
}

/* ........................................................................................ */

@layer base {
    @font-face {
        font-family: "HWT_Artz";
        src: url("../fonts/HWTArtz.woff") format("woff");
        font-weight: normal;
        font-style: normal;
    }

    /* @font-face {
        font-family: 'HWT_Artz_Regular';
        src: url("../fonts/Brother-1816.woff2") format('woff2');
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: 'HWT_Artz_light';
        src: url("../fonts/Brother-1818-Light.woff") format('woff');
        font-weight: normal;
        font-style: normal;
      } */

      h1:not([class]) {
        @apply text-mill-red font-artz text-[60px] lg:text-[120px] mb-[25px] mt-[25px] leading-[55px] lg:leading-[95px] lg:mb-[80px] lg:mt-[80px];
      }
      h2:not([class]) {
        @apply text-5xl text-mill-smoke font-artz mt-[20px] mb-[20px];
      }
      h3:not([class]) {
        @apply text-4xl font-medium text-mill-smoke leading-normal mt-[15px] mb-[15px];
      }
      h4:not([class]) {
        @apply text-3xl font-medium text-mill-smoke leading-normal mt-[15px] mb-[15px];
      }
      h5:not([class]) {
        @apply text-2xl font-medium text-mill-smoke leading-normal mt-[10px] mb-[10px];
      }
      h6:not([class]) {
        @apply text-xl font-medium text-mill-smoke leading-normal mt-[10px] mb-[10px];
      }
    
      a:not([class]) {
        @apply text-base text-mill-blue leading-relaxed;
      }
      a:not([class]):hover {
        @apply text-base text-mill-blue underline leading-relaxed;
      }
      .tag-events{
        @apply border border-mill-peach-light px-2 rounded bg-mill-peach-light;  
      }
      .tag-news{
        @apply border border-mill-blue-light px-2 rounded bg-mill-blue-light; 
      }
      /* .button{
        @apply inline-block bg-mill-red text-white text-[18px] lg:text-[22px] font-bold py-[15px] px-[30px] rounded-[5px] hover:bg-mill-red-light transition-colors duration-300;
      }
      p[experpt]{
        @apply text-mill-warm-grey font-artz text-[40px] lg:text-[42px] leading-[40px] w-full lg:max-w-[1306px] mb-[20px] lg:mb-[80px];
      } */

       .wp-caption-text{
        @apply text-[18px] font-normal leading-[30px] text-center mt-[10px] mb-[10px] bg-mill-warm-grey text-white rounded-b-lg;
       }
       .wp-caption {
        @apply bg-mill-warm-grey rounded-xl mx-auto max-w-max;
       }
       .wp-caption.alignright{
        @apply float-end ml-5;
       }
       .wp-caption.alignleft{
        @apply float-start mr-5
       }
}


@layer utilities {
    
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    @media (min-width: 1310px) {
        .custom-show-div {
          display: block;
        }
      }

    @media (min-width: 1300px) {
        .custom-hide-btn {
          display: none;
        }
    }

  
}



